<h1>Editar Tendencia</h1>

<%= render 'form', tendency: @tendency %>

<%= link_to 'Ver', @tendency, class: "btn btn-primary"  %> |
<%= link_to 'Regresar', tendencies_path, class: "btn btn-secondary"  %>
